# Rejected eCS analysis

complete analysis of financial impact of rejected eCS, by period

In [1]:
'''
Python code used to load data from Excel to SQL database
'''

import pandas as pd
import sqlite3 as db
import matplotlib.pyplot as plt
import matplotlib.style
import seaborn as sns


# matplotlib and seaborn config (graphic output)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
sns.set_style('whitegrid')
sns.set_context('paper')

In [2]:
# parsing data from Excel files to pandas dataframes
xls1 = pd.ExcelFile("./rejected eCS/tfshistory.xlsx")
xls2 = pd.ExcelFile("./rejected eCS/1.xlsx")

In [5]:
history = xls1.parse('Sheet1')

In [3]:
# create database cursor
conn = db.connect("rejectedecs.db")
conn.text_factory = str
c = conn.cursor()

In [ ]:
# create tables
c.execute('''CREATE TABLE Booking (
    ID INT PRIMARY KEY NOT NULL,
    FlightStartUTC INTEGER,
    FlightEndUTC INTEGER,
    PriceEUR FLOAT,
    Commission FLOAT,
    Status TEXT,
    VoidDate INTEGER,
    Airline TEXT,
    PassengerNationality TEXT,
    CheckedIn TEXT
);''')

In [1]:
# parsing data from Excel to pandas dataframe
xls1 = pd.ExcelFile("./rejected eCS/tfshistory.xlsx")
booking = xls.parse('Boooking')
creditnote = xls.parse('CreditNote')

# create database cursor
conn = db.connect("rejectedecs.db")
conn.text_factory = str
c = conn.cursor()

# create tables
c.execute('''CREATE TABLE Booking (
    ID INT PRIMARY KEY NOT NULL,
    FlightStartUTC INTEGER,
    FlightEndUTC INTEGER,
    PriceEUR FLOAT,
    Commission FLOAT,
    Status TEXT,
    VoidDate INTEGER,
    Airline TEXT,
    PassengerNationality TEXT,
    CheckedIn TEXT
);''')

c.execute('''CREATE TABLE CreditNote (
CreditNoteNo INT PRIMARY KEY NOT NULL,
Airline TEXT,
PaymentDate TEXT,
PeriodStart TEXT,
PeriodEnd TEXT,
PaymentAmount FLOAT
);''')

# load data to database
booking.to_sql('Booking', conn, if_exists='append', index=False)
creditnote.to_sql('CreditNote', conn, if_exists='append', index=False)

# loads the SQL magic extensions
%load_ext sql

#connect database
%sql sqlite:///exercise.db

u'Connected: None@exercise.db'